{% load static %}
<!DOCTYPE html>
<html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>API DE CONVERSAO DE DOLAR MACKENZIE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'pages/style.css' %}">
</head>
<body>
<header id="banner">
    <br>
    <h1>API DE CONVERSAO DE DOLAR</h1>
    <br>
</header>

{% block content %}

{% endblock %}

<script src="{% static 'pages/conversor.js' %}"></script>
<footer id="footer">
    <br>
    <p>João Pedro da Silva Sousa - 31725163</p>
    <p>Matheus Pedro Rodrigues Ferreira - 31702351</p>
    <br>
</footer>

</body>
</html>